<footer class="bg-[#FEFAF3] w-full">
    <div class="w-4/5 mx-auto pb-2 pt-[1px] 2xl:pt-14 ">
        <div class="flex flex-col items-center text-center lg:justify-between lg:items-start lg:my-20 lg:flex-row lg:text-left">
            <div class="mb-2 lg:mb-0">
                <p class="text-black text-xl mb-2">{{'footer.titleCustomerService'|translate}}</p>
                <div>
                    <p>{{'footer.titleHelpContactUs' | translate}}</p>
                    <p>{{'footer.titleReturnRefunds' | translate}}</p>
                    <p>{{'footer.titleOnlineStore' | translate}}</p>
                    <p>{{'footer.titleTermCondition' | translate}}</p>
                </div>
            </div>
            <div class="mb-2 lg:mb-0">
                <p class="text-black text-xl mb-2">{{'footer.titleCompany' | translate}}</p>
                <div>
                    <p>{{'footer.titleAboutUs' | translate}}</p>
                    <p>{{'footer.titleBlog'|translate}}</p>
                    <p>{{'footer.titleOrderTracking' | translate}}</p>
                    <p>{{'footer.titleFAQPage' | translate}}</p>
                    <p>{{'footer.titleContactUs' | translate}}</p>
                    <p>{{'footer.titleLogin' | translate}}</p>
                </div>
            </div>
            <div class="mb-2 lg:mb-0">
                <p class="text-black text-xl mb-2">{{'footer.titleSocialMedia'|translate}}</p>
                <div>
                    <p>Twitter</p>
                    <p>Instagram</p>
                    <p>Facebook</p>
                </div>
            </div>
            <div class="mb-2 lg:mb-0">
                <p class="text-black text-xl mb-2">{{'footer.titleArchive'|translate}}</p>
                <div>
                    <p>{{'footer.titleDesigner'|translate}}</p>
                    <p>{{'footer.titleGallery' | translate}}</p>
                    <p>{{'footer.titlePricing' | translate}}</p>
                    <p>{{'footer.titleHelpSupport'| translate}}</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="flex flex-col my-2 lg:justify-between lg:my-5 lg:flex-row lg:items-center">
            <div class="flex flex-col items-center lg:flex-row lg:w-2/5">
                <img class="w-5" src="assets/images/icons/shield-checkmark-outline.svg" alt="icon">
                <span>2024, <span class="text-black">By Company Adaco</span>, VietNam</span>
            </div>
            <div class="flex w-full justify-between my-5 lg:flex-row lg:w-1/5 lg:items-center">
                <img class="w-5 mx-1" src="assets/images/icons/logo-facebook.svg" alt="icon">
                <img class="w-5 mx-1" src="assets/images/icons/logo-google.svg" alt="icon">
                <img class="w-5 mx-1" src="assets/images/icons/logo-instagram.svg" alt="icon">
                <img class="w-5 mx-1" src="assets/images/icons/logo-skype.svg" alt="icon">
            </div>
            <div class="flex w-full justify-between my-5 lg:items-center lg:w-1/5">
                <a href="#" class="no-underline mr-3 text-xs">INSTAGRAM</a>
                <a href="#" class="no-underline text-xs">FACEBOOK</a>
            </div>
        </div>
    </div>
</footer>
